.App {
  background-color: #0d1117;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Hide main scrollbar */
}

.bodyContainer {
  flex: 1;
  padding: 1rem 2rem;
  overflow-y: auto;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  padding-bottom: 5rem; /* Add padding to the bottom */
}

.row {
  display: grid;
  gap: 1rem;
}

.row-1 {
  grid-template-columns: repeat(3, 1fr);
}

.row-2,
.row-3 {
  grid-template-columns: repeat(2, 1fr);
}

.card {
  background: #161b22;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
  color: #c9d1d9;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
}

.card h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #58a6ff; /* Professional blue color */
  border-bottom: 2px solid #30363d; /* Bottom border for header */
  padding-bottom: 0.5rem;
  width: 100%;
  text-align: center; /* Center text */
}

.card .count-value {
  color: #ff7b72; /* Highlight color for count value */
}

body::-webkit-scrollbar {
  display: none; /* Hide main scrollbar */
}
.App::-webkit-scrollbar {
  display: none; /* Hide main scrollbar */
}

/* Style body container scrollbar */
.bodyContainer::-webkit-scrollbar {
  display: none;
  width: 1rem;
}

.bodyContainer::-webkit-scrollbar-track {
  background: #161b22;
}

.bodyContainer::-webkit-scrollbar-thumb {
  background-color: #2d333b;
  border-radius: 0.5rem;
  border: 0.2rem solid #161b22;
}

.bodyContainer::-webkit-scrollbar-thumb:hover {
  background-color: #444c56;
}
